<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975895398231-42pbuv7l3j6jddb4h69loil55s0sgukt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975895398231-42pbuv7l3j6jddb4h69loil55s0sgukt</string>
	<key>API_KEY</key>
	<string>AIzaSyBfzE0Kfn-fh62La6zT5D6XV8CbFM8tayc</string>
	<key>GCM_SENDER_ID</key>
	<string>975895398231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Leonid.appFireBase</string>
	<key>PROJECT_ID</key>
	<string>appfirebase-b740b</string>
	<key>STORAGE_BUCKET</key>
	<string>appfirebase-b740b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975895398231:ios:0219804ba27c0e8f73e012</string>
	<key>DATABASE_URL</key>
	<string>https://appfirebase-b740b.firebaseio.com</string>
</dict>
</plist>